h1{
    font-style: italic;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background: linear-gradient(to left, black,white,gold,white,gray,white,black);
    background-size: 300%;
    animation: B-animation 6s infinite alternate;
}
@keyframes B-animation{
   0% {background-position: left;}
   100% {background-position: right;}
    
}

nav{
    display: flex;
    justify-content: space-between;
}
nav h1{
    margin-left: 10%;
    text-transform: uppercase;
}

nav ul{
   margin-right: 10%;
   word-spacing: 10mm;
}

nav ul li{
    
    display:block;
    font: bold;
    text-transform: capitalize;
    padding: 10px 40px;
    margin-top: 1cm;
    
 
}
nav ul li:hover{
    letter-spacing: 7px;
    text-decoration: underline;
}
nav ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    
}


main{
    outline: 2px solid black;
    background-color: white;
    width: 500px;
    height: 500px;
    margin:150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    
   display: grid;
   grid-template-columns: 50% 50%;
   align-items: center;
   width: 500px;
   grid-gap: 1em;
   margin-left: 20%;
   margin-right: 20%;
   
   
}
.input{
   width: 300px;
   height: 30px;
   outline: 1px solid black;
   margin-top: 1em;
   
}

.text{
    width: 300px;
    outline: 1px solid black;
    
}

.button{
    width: 310px;
    height: 30px;
    text-transform: capitalize;
    background-color: gray;
}
  
.toggler{
   position:absolute;
   top:25px;
   right:25px;
   width:4em;
   height:4em;
   z-index:2;
   opacity:0;
   cursor:pointer;  
}

.toggle{
   position:absolute;
   top:25px;
   right:25px;
   width:4em;
   height:2.5em;
    border-top:0.8em solid black; 
   border-bottom:0.8em solid black;
   background-color: inherit;
   display:flow-root;
   align-items: center;
   justify-content: center;
   border-radius:0.3em;
   transition:all 0.5s ease;
   padding: 0.8px;
}

.toggle:before{

   content:'';
   position:absolute;
   width:4em;
   margin-top:0.8em;
   border-top:0.8em solid black;
}

.toggler:checked + .toggle{
    transform: rotate(140deg);
    border-top: 0;
}

.toggler:checked + .toggle:before,
.toggler:checked + .toggle:after{
    top:25px;
    transform: rotate(90deg);
}
.toggler:checked:hover + .toggle{
   transform:rotate(225deg);
}




.menu{
   background:#6c6a6a;
   height:100%;
   width:100%;
   display:flex;
   visibility:hidden;
   
   
}

.toggler:checked  ~ .menu{
   visibility:visible;
   opacity:0.8;
   transform:scale(1);
   display:flex;
   align-items:center;
   justify-content:center; 
}