*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    
     
}

body{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
    background-color: black; 
    animation: appear 3s ease-in forwards;
    
  
}


nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
   
    
 
}
nav h1{
    margin-top: 1cm;
    outline: 2px solid white;
    width: 8cm;
    height: 2cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 30px;
    margin-left: 5%;     
  
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}


nav ul li{
    display: inline-block;
    list-style-type: none;
    text-transform: capitalize;
    padding: 10px 40px;
    margin-top: 1cm;
    
    
    
}

nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    
}

nav ul li:hover{
    letter-spacing: 7px;
    background-color: #FFFFFF33;
}

main{
    color: white;
    margin: 5cm;
    outline: 2px solid white;
    box-shadow: 0px 0px 20px 20px;
}

main:hover{
   transform:  rotateX(-20deg) rotateY(20deg) ;

}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: text-appear 2s ease-in forwards;
}

main h4{
    font-size: 20px;
}
main h2{
    font-size: 50px;
}

.toggler{
    display: none;
}




footer{
    color: white;
}


@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        transform: scale(1);
    }
}


@keyframes text-appear{
    0% {
      transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}










